# Chezmoi recommends using CODESPACES but this fails when running local
# devcontainers, so we are going to explicitly check for if we are running in
# a headless environment instead.
# Ref: https://www.chezmoi.io/user-guide/machines/containers-and-vms/
{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $headless := not stdinIsATTY -}}

# Required for devcontainers so that the install script that is automatically
# called can pass in the sourceDir pointing to the location the dotfiles were
# cloned to (vscode & codespaces use ~/dotfiles).
# Ref: https://www.chezmoi.io/user-guide/machines/containers-and-vms/
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    codespaces = {{ $codespaces }}
    headless = {{ $headless }}
{{- if $headless }}
    computername = "headlesscontainer"
    email = "jaridmargolin@gmail.com"
{{- else }}{{/* Interactive setup, so prompt for an email address */}}
    computername = {{ promptString "Computer Name (as done via System Preferences → Sharing)" | quote }}
    email = {{ promptString "Email (used as git email)" | quote }}
{{- end }}
