# Required for devcontainers so that the install script that is automatically
# called can pass in the sourceDir pointing to the location the dotfiles were
# cloned to (vscode & codespaces use ~/dotfiles).
# Ref: https://www.chezmoi.io/user-guide/machines/containers-and-vms/
sourceDir = {{ .chezmoi.sourceDir | quote }}
