[user]
    name = Jarid Margolin
    email = {{ .email }}

[pager]
    diff = delta
    show = delta
    log = delta
    blame = delta
    reflog = delta

[interactive]
    diffFilter = delta --color-only

[pager]
    branch = false

[delta]
    diff-so-fancy = true
    syntax-theme = Dracula
    light = false
    hyperlinks = true
    hyperlinks-file-link-format = "vscode://file/{path}:{line}"

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
